<!DOCTYPE html>
<html lang="en">j
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple</title>
  <!-- vanila css -->
  <link rel="stylesheet" href="../css/style.css">
  <!-- bootstrap -->
  <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body class="m-0 p-0 overflow-hidden">
  <!-- desktop version start -->
  <div class="desktopVersion d-flex justify-content-center align-items-center">
    <div class="dataWrapper d-flex flex-xxl-row flex-xl-row flex-lg-row flex-md-row flex-sm-column justify-content-center align-items-center">
      <img class="mobile" src="../../assets/mobile-removebg-preview-removebg-preview.png" alt="">
      <div class="dataTxtWrapper ms-xxl-5 ms-xl-5 ms-lg-5 ms-md-5 ms-sm-0 mt-xxl-0 mt-xl-0 mt-lg-0 mt-md-0 mt-sm-5 d-flex flex-column text-light text-xxl-start text-xl-start text-lg-start text-md-start text-sm-center">
        <h1 class="text-dark fw-bold display-3">Simple</h1>
        <h4 class="fw-light">Best social media in the world!</h4>
        <p>This app just for mobile, Get this app now!</p>
        <a href="" id="toogle" class="btn btn-primary w-50 mt-3 ms-xxl-0 ms-xl-0 ms-lg-0 ms-md-0 m-sm-auto">Get started</a>
      </div>
    </div>
  </div>
  <!-- desktop version end -->
  <div class="base container-fluid m-0 p-0">
    <div class="arrowWrapper position-absolute">
      <a href="../../../login-main-page/view/html/login-main-page.html">
        <img src="../../assets/ArrowLeft.png" alt="">
      </a>
    </div>
    <img class="wave position-absolute img-fluid top-0 start-0" src="../../assets/vector-biru.png" alt="">
    <img class="wave position-absolute img-fluid bottom-0 end-0" src="../../assets/vector-hijau.png" alt="">
    <main class="container-fluid d-flex flex-column justify-content-center align-items-center">
      <div class="fbLogoWrapper">
        <img src="../../assets/fb (2).png" alt="">
      </div>
      <div class="fbWrapper d-flex flex-column  align-items-center py-4">
        <div class="text-center">
          <h3 class="fw-light">Log in by Facebook</h3>
        </div>
        <div class="alertWrapper d-flex justify-content-center align-items-center mt-4">
          <p class="fs-6">You must login to continue</p>
        </div>
        <form action="" class="">
          <ul class="d-flex flex-column justify-content-center align-items-center w-100">
            <li class="list-unstyled mt-4">
              <input class="w-100 border-1 bg-transparent ps-3 py-3 fw-lighter text-muted" placeholder="Email address or phone number" type="text">
            </li>
            <li class="list-unstyled mt-4">
              <input class="w-100 border-1 bg-transparent ps-3 py-3 fw-lighter text-muted" placeholder="Password" type="password">
            </li>
            <li class="list-unstyled mt-4">
              <a href="../../../main-page/view/html/main-page.html" class="btn btn-primary fw-bold fs-4 w-100 py-2">Log in</a>
            </li>
          </ul>
        </form>
      </div>
    </main>
  </div>
  <!-- feather icons -->
  <script src="../../../node_modules/feather-icons/dist/feather.js"></script>
  <script>
    feather.replace()
  </script>
  <!-- magic js -->
  <script src="../javascript/magic.js"></script>
</body>
</html>
