<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple</title>
  <!-- vanila css -->j
  <link rel="stylesheet" href="../css/style.css">
  <!-- bootstrap -->
  <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body class="m-0 p-0 overflow-hidden">
  <!-- desktop version start -->
  <div class="desktopVersion d-flex justify-content-center align-items-center">
    <div class="dataWrapper d-flex flex-xxl-row flex-xl-row flex-lg-row flex-md-row flex-sm-column justify-content-center align-items-center">
      <img class="mobile" src="../../assets/mobile-removebg-preview-removebg-preview.png" alt="">
      <div class="dataTxtWrapper ms-xxl-5 ms-xl-5 ms-lg-5 ms-md-5 ms-sm-0 mt-xxl-0 mt-xl-0 mt-lg-0 mt-md-0 mt-sm-5 d-flex flex-column text-light text-xxl-start text-xl-start text-lg-start text-md-start text-sm-center">
        <h1 class="text-dark fw-bold display-3">Simple</h1>
        <h4 class="fw-light">Best social media in the world!</h4>
        <p>This app just for mobile, Get this app now!</p>
        <a href="" id="toogle" class="btn btn-primary w-50 mt-3 ms-xxl-0 ms-xl-0 ms-lg-0 ms-md-0 m-sm-auto">Get started</a>
      </div>
    </div>
  </div>
  <!-- desktop version end -->
  <div class="base container-fluid m-0 p-0">
    <img class="wave position-absolute img-fluid top-0 start-0" src="../../assets/vector-biru.png" alt="">
    <img class="wave position-absolute img-fluid bottom-0 end-0" src="../../assets/vector-hijau.png" alt="">
    <main class="text-center d-flex flex-column justify-content-center align-items-center">
      <div class="logoAndTitle">
        <img class="logo" src="../../assets/logo (3).png" alt="">
        <h1 class="display-1 fw-bold">Simple</h1>
        <p>Best sosial media in the world</p>
      </div>
      <div class="signSection mt-5">
        <a href="../../../login-main-page/view/html/login-main-page.html" class="btn text-muted fw-bold">Log in</a>
        <a href="../../../main-page/view/html/main-page.html" id="toogle" class="signUpBtn btn text-light rounded-pill px-4">Sign up</a>
      </div>
    </main>
  </div>
  <!-- magic js -->
  <script src="../javascript/magic.js"></script>
</body>
</html>
