@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* desktop version start */
@media (min-width: 576px){
  .desktopVersion{
    display: block !important;
    background: rgb(0,153,255);
    background: linear-gradient(150deg, rgba(0,153,255,1) 0%, rgba(113,247,255,1) 50%, rgba(0,203,169,1) 100%);
    background-size: 400%;
    animation-name: movingBg;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    height: 100vh;
  }
  @keyframes movingBg {
    0%{
      background-position: left;
    }
    100%{
      background-position: right;
    }
  }
  .mobile{
    display: block !important;
    width: 250px !important;
    font-family: 'Poppins' !important;
    transition: 0.5s;
  }
  .dataTxtWrapper h1, h4, p, a{
    display: block !important;
  }
  .base{
    display: none;
  }
}
/* desktop version end */
@media (max-width: 576px){
  .desktopVersion{
    display: none !important;
  }
  .mobile{
    display: none !important;
  }
  .dataTxtWrapper h1, .dataTxtWrapper h4, .dataTxtWrapper p, .dataTxtWrapper a{
    display: none !important;
  }
  *{
    margin: 0 !important;
    padding: 0 !important;
  }
  .base{
    height: 100vh;
  }
  .forgotTxt, .signUpTxt{
    width: 250px;
  }
  main{
    height: 100vh;
  }
  .signUpBtn{
    background: #4F76DC !important;
  }
  .signUpBtn:hover{
    background: #3DA2FF !important;
  }
  li{
    width: 310px;
    background: hsl(0, 0%, 93%);
  }
  ::placeholder{
    font-size: 17px;
  }
  .btn{
    width: 310px;
    background: #4F76DC !important;
  }
  .btn:hover{
    background: #3DA2FF !important;
  }
  .orLoginWrapper{
    width: 310px;
  }
  .eyeWrapper{
    margin-left: 30px !important;
  }
  .line{
    width: 100px;
    margin-top: 5px;
  }
  .sosialMedia{
    width: 25px;
  }
  .sosialMediaWrapper{
    width: 310px;
  }
  .wave{
    z-index: -90;
  }
}

@media (max-width: 330px){
  .signTitle{
    margin-left: 25px !important;
  }
  li{
    width: 280px;
  }
  .signTitle{
    margin-left: -1px !important;
  }
  .eyeWrapper{
    margin-left: 0 !important;
  }
  .btn{
    width: 280px;
  }
  .line{
    width: 70px;
  }
  .sosialMediaWrapper{
    width: 280px;
  }
}

@media (max-width: 310px){
  li{
    width: 250px;
  }
  .signTitle{
    margin-left: 15px !important;
  }
  .eyeWrapper{
    margin-left: -25px !important;
  }
  .btn{
    width: 250px;
  }
  .line{
    width: 40px;
  }
  .sosialMediaWrapper{
    width: 250px;
  }
}