<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple</title>
  <!-- vanila css -->
  <link rel="stylesheet" href="../css/style.css">
  <!-- bootstrap -->  
  <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body class="m-0 p-0 overflow-hidden">
  <h1 class="nothingTxt text-center text-dark display-1 fw-bold"></h1>
  <div class="base container-fluid m-0 p-0">
    <div class="arrowWrapper position-absolute">
      <a href="../../../login-main-page/view/html/login-main-page.html">
        <img src="../../assets/ArrowLeft.png" alt="">
      </a>
    </div>
    <img class="wave position-absolute img-fluid top-0 start-0" src="../../assets/vector-biru.png" alt="">
    <img class="wave position-absolute img-fluid bottom-0 end-0" src="../../assets/vector-hijau.png" alt="">
    <main class="position-relative">
      <div class="forgorPasswordWrapper d-flex flex-column justify-content-center align-items-center">
        <div class="titleWrapper text-start">
          <h1 class="display-2 fw-bold">Forgot <br> Password</h1>  
        </div>
        <form action="" class="d-flex justify-content-center align-items-center pt-5">
          <ul class="d-flex flex-column justify-content-center align-items-center m-0 p-0">
            <li class="d-flex ps-4 border border-0 list-unstyled rounded-pill py-2">
              <span>
                <i class="text-muted" data-feather="lock"></i>
              </span>
              <input class="bg-transparent border-0 text-muted ms-2" placeholder="Old password" type="password">
              <span class="eyeWrapper">
                <i class="text-muted" data-feather="eye"></i>
              </span>
            </li>
            <li class="d-flex ps-4 border border-0 list-unstyled rounded-pill py-2 mt-4">
              <span>
                <i class="text-muted" data-feather="lock"></i>
              </span>
              <input class="bg-transparent border-0 text-muted ms-2" placeholder="New password" type="password">
              <span class="eyeWrapper">
                <i class="text-muted" data-feather="eye"></i>
              </span>
            </li>
            <div class="text-start mt-5">
              <a href="../../../main-page/view/html/main-page.html" class="btn rounded-pill text-light mt-4 py-2">Upadate password</a>
            </div>
          </ul>
        </form>
      </div>
    </main>
  </div>
  <!-- feather icons -->
  <script src="../../../node_modules/feather-icons/dist/feather.js"></script>
  <script>
    feather.replace()
  </script>
</body>
</html>