<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple</title>
  <!-- vanila css -->
  <link rel="stylesheet" href="../css/style.css">
  <!-- bootstrap -->
  <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body class="m-0 p-0 overflow-hidden">
  <!-- desktop version start -->
  <div class="desktopVersion d-flex justify-content-center align-items-center">
    <div class="dataWrapper d-flex flex-xxl-row flex-xl-row flex-lg-row flex-md-row flex-sm-column justify-content-center align-items-center">
      <img class="mobile" src="../../assets/mobile-removebg-preview-removebg-preview.png" alt="">
      <div class="dataTxtWrapper ms-xxl-5 ms-xl-5 ms-lg-5 ms-md-5 ms-sm-0 mt-xxl-0 mt-xl-0 mt-lg-0 mt-md-0 mt-sm-5 d-flex flex-column text-light text-xxl-start text-xl-start text-lg-start text-md-start text-sm-center">
        <h1 class="text-dark fw-bold display-3">Simple</h1>
        <h4 class="fw-light">Best social media in the world!</h4>
        <p>This app just for mobile, Get this app now!</p>
        <a href="" id="toogle" class="btn btn-primary w-50 mt-3 ms-xxl-0 ms-xl-0 ms-lg-0 ms-md-0 m-sm-auto">Get started</a>
      </div>
    </div>
  </div>
  <!-- desktop version end -->
  <div class="base container-fluid m-0 p-0">
    <div class="arrowWrapper position-absolute">
      <a href="../../../login-main-page/view/html/login-main-page.html">
        <img src="../../assets/ArrowLeft.png" alt="">
      </a>  
    </div>
    <img class="wave position-absolute img-fluid top-0 start-0" src="../../assets/vector-biru.png" alt="">
    <img class="wave position-absolute img-fluid bottom-0 end-0" src="../../assets/vector-hijau.png" alt="">
    <main class="container-fluid position-relative d-flex justify-content-center align-items-center">
      <div class="githubWrapper">
        <header>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <img class="logo" src="../../assets/github.png" alt="">
            <h2 class="mt-3 fw-light">Sign in with github</h2>
          </div>
        </header>
        <form class="form d-flex justify-content-center mt-5" action="">
          <ul class="">
            <li class="list-unstyled d-flex flex-column">
              <label for="">Username of email address</label>
              <input class="bg-transparent border border-1 border-secondary rounded-3 p-2" type="text">
            </li>
            <li class="list-unstyled d-flex flex-column mt-3">
              <label for="">Passowrd</label>
              <input class="bg-transparent border border-1 border-secondary rounded-3 p-2" type="password">
            </li>
            <li class="list-unstyled mt-5">
              <a href="../../../main-page/view/html/main-page.html" class="btn w-100 py-2 fw-bold text-light">Sign in</a>
            </li>
          </ul>
        </form>
        <footer class="mt-5">
          <form action="">
            <ul class="d-flex flex-row justify-content-center align-items-center">
              <li class="list-unstyled">
                <a href="" class="text-muted text-decoration-none">Terms</a>
              </li>
              <li class="list-unstyled">
                <a href="" class="text-muted text-decoration-none">Privacy</a>
              </li>
              <li class="list-unstyled">
                <a href="" class="text-muted text-decoration-none">Security</a>
              </li>
              <li class="list-unstyled">
                <a href="" class="text-muted text-decoration-none">Connect</a>
              </li>
            </ul>
          </form>
        </footer>
      </div>
    </main>
  </div>
  <!-- feather icons -->
  <script src="../../../node_modules/feather-icons/dist/feather.js"></script>
  <script>
    feather.replace()
  </script>
    <!-- magic js -->
    <script src="../javascript/magic.js"></script>
</body>
</html>